<!DOCTYPE html>
<html lang="es">
<body>
    {% include 'navbar.html' %}
    
    <h1>Capacitaciones Virtuales</h1>
    <ul class="collapsible popout">
        {% for consulta in consultas %}
        <li>
          <div class="collapsible-header"><i class="material-icons">ondemand_video</i>{{ consulta.titulo }}</div>
          <div class="collapsible-body"><span>{{ consulta.descripcion }}</span></div>
        </li>
        {% empty %}
            <p>No hay capacitaciones Virtuales cargadas</p>
        {% endfor %}
    </ul>

    {% include 'footer.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems, {});
        });
    </script>
</body>
</html>
