<br>
<footer class="page-footer blue-grey">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contacto</h5>
        <ul>
          <a class="waves-effect waves-light btn-large white blue-grey-text"><i class="material-icons left">email</i>contacto@sjmargentina.org</a>
          <a class="waves-effect waves-light btn-large white blue-grey-text"><i class="material-icons left">local_phone</i>1128478764</a>
        </ul>
      </div>
    </div>
  </div>
</footer>