<br>
<footer class="page-footer light-blue darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <ul>
          <a class="waves-effect waves-light btn-large white light-blue-text text-darken-4"><i class="material-icons left">email</i>contacto@sjmargentina.org</a>
          <a class="waves-effect waves-light btn-large white light-blue-text text-darken-4"><i class="material-icons left">local_phone</i>1128478764</a>
        </ul>
      </div>
    </div>
  </div>
</footer>